<!DOCTYPE html>
<html lang="en">
<div class="cart">
    <body>
        <div class="header" style="height: 56px;">
            {{> header}}
        </div>
        <!--
        <div>
            {{#> show}}
                {{#each myList}}
                    <h1>{{this}}</h1>
                {{/each}}
            {{/show}}
        </div> -->
    </body>
</div>