<div class="con">
    <img src="https://img.freepik.com/premium-vector/system-work-error-404-maintenance-page-found_87771-10144.jpg?w=740" alt="" width="1000" height="300">
    <div class="center"> Đã có lỗi xảy ra, vui lòng đăng nhập lại! </div>
</div>

<style>
    .con {
        position: relative;
        margin: 0 20%;
    }

    .center {
        position: absolute;
        top: 10%;
        width: 100%;
        text-align: center;
        font-size: 59px;
    }

    img {
        margin: 0 10%;
        width: 80%;
        height: auto;
        opacity: 0.3;
    }
</style>
