<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .container {
        position: relative;
        }

        .center {
        position: absolute;
        top: 10%;
        width: 100%;
        text-align: center;
        font-size: 59px;
        }

        img { 
        width: 100%;
        height: auto;
        opacity: 0.3;
        }
    </style>
</head>
<body>
        <div class="container">
        <img src="https://img.freepik.com/premium-vector/system-work-error-404-maintenance-page-found_87771-10144.jpg?w=740" alt="" width="1000" height="300">
        <div class="center"> Đã có lỗi xảy ra, vui lòng đăng nhập lại! </div>
        </div>
    {{!-- <img style = "right: 100%; height: 100%" src="https://img.freepik.com/premium-vector/system-work-error-404-maintenance-page-found_87771-10144.jpg?w=740" alt="đã có lỗi xảy ra" style="">
    <h1> Đã có lỗi xảy ra, vui lòng đăng nhập lại! </h1> --}}
</body>
</html>
