<div class="header" style="height: 56px;">
    {{> header}}
</div>

<div class="container">
  	<h1 class="mt-5">Thanh toán</h1>
  	<hr>

  	<form method="post" action="/payment">
  		<div class="row">
  		  	<div class="col-md-6 mb-3">
  		  	  	<label for="fullName">Họ tên</label>
  		  	  	<input type="text" class="form-control" id="fullName" name="fullName" placeholder="" value="" required>
  		  	  	<div class="invalid-feedback">
					Valid full name is required.
				</div>
  		  	</div>
  		  	<div class="col-md-6 mb-3">
  		  	  	<label for="phoneNumber">Số điện thoại</label>
  		  	  	<input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="" required>
  		  	  	<div class="invalid-feedback">
  		  	    	Please enter a valid phone number.
  		  	  	</div>
  		  	</div>
  		</div>

  		<div class="mb-3">
  		  	<label for="address">Địa chỉ</label>
  		  	<input type="text" class="form-control" id="address" name="address" placeholder="Nhập địa chỉ" required>
  		  	<div class="invalid-feedback">
  		    	Please enter your shipping address.
  		  	</div>
  		</div>

  		<div>Tổng số tiền cần thanh toán <b>{{totalPrice}} </b> VND</div>
  		<hr class="mb-4">

		<a href="/" class="btn btn-primary btn-lg btn-block" title="Đặt hàng" type="submit" onclick="alert('Đặt hàng thành công')">Đặt hàng</a>
  	</form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper"></script>