* {
    margin: 0;
    padding: 0;
}

.header {
    position: sticky;
    top: 0;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: #333;
    display: flex;
    align-items: center;
}

.navbar-logo {
    position: absolute;
    width: auto;
    height: 60%;
    left: 60px;
}

.navbar-search {
    background-color: transparent;
    color: #888;
    width: 400px;
    height: 50%;
    margin: auto;
    cursor: text;
    padding-inline-start: 50px;
    padding-inline-end: 50px;
    font-size: 0.8rem;
    border: 2px solid #888;
    border-radius: 30px;
    outline: none;
}

.navbar-search:focus {
    color: #ddd;
    border: 2px solid #ddd;
}

.navbar-login-btn {
    background-color: #1084b9;
    color: #fff;
    padding: 8px 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 30px;
    position: absolute;
    right: 60px;
}

.navbar-login-btn:hover {
    opacity: 0.8;
}