<div class="mt-4 ml-4 mr-4">
    <h3> Thêm sản phẩm vào kho sản phẩm </h3>

    <form method="post" action = "/shop/store" >
         <div class="form-group">
            <label for="name"> Name </label>
            <input type="text" class="form-control" id="description" name = "name" required>  
        </div>

        <div class="form-group">
            <label for="description"> description </label>
            <input type="text" class="form-control" id="description" name = "description" required>  
        </div>

        <div class="form-group">
            <label for="price"> price </label>
            <input type="number" class="form-control" id="price" name = "price" required>  
        </div>

        <div class="form-group">
            <label for="quantity"> quantity </label>
            <input type="number" class="form-control" id="quantity" name = "quantity" required>  
        </div>

         <div class="form-group">
            <label for="image"> image </label>
            <input type="text" class="form-control" id="image" name = "image" required>  
        </div>

        <button type="submit" class="btn btn-primary"> Thêm </button>
    </form>

</div>